<!--

    Kvantum is a web server, written entirely in the Java language.
    Copyright (C) 2017 IntellectualSites

    This program is free software; you can redistribute it andor modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along
    with this program; if not, write to the Free Software Foundation, Inc.,
    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Hello World!</title>

    #macro(link $rel $type $href)
        <link rel="$rel" type="$type" href="$href" />
    #end

    #macro(a $href $tooltip $text)
        <a data-toggle="tooltip" href="$href" title="$tooltip">$text</a>
    #end

    #link("stylesheet" "text/css" "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    #link("stylesheet" "text/css" "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css")
    #link("stylesheet" "text/css" "main.less")

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <meta name="msapplication-config" content="none"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="assets/stickyfooter.js" type="application/javascript"></script>
</head>
<body>
<br>
<div class="container">
    <div class="row">
        <div class="container">
            <div class="row">
                <h1 align="center">Wεlcοmε to Kvαnτum <hr/></h1>
            </div>
            <div class="row">
                <p align="center">
                    <img alt="Kvantum" src="https://i.imgur.com/C8QKaSK.png" width="458"/>
                </p>
            </div>
            <div class="row">
                <h2>What?</h2>
                <p>
                    Kvantum is a lightweight, portable and (if you so desire) embeddable (HTTP/HTTPS) web server,
                    written entirely in java. It is meant to be easy to use, yet offer a wide variety of tools and
                    utilities to simplify the development of your website. It comes shipped with tools such as account
                    management, database connectors and template engine support. All to remove the need for repeated boilerplate.
                </p>
                <p>
                    Kvantum can be used both as a standalone application (serving static content), as a library to
                    create your own applications (by integrating Kvantum or by extending the server using plugins).
                    It allows views to be configured both through configuration files and through code (and even a mixture of both!).
                </p>
                <p>
                    It supports a wide variety of static file types out of the box, and it even offers support
                    for Apache Velocity, JTwig and Crush (our own template engine) templates!
                </p>
                <h2>More information...</h2>
                <p>... can be found at #a("https://github.com/IntellectualSites/Kvantum" "Kvantum at GitHub" "GitHub")
                </p>
            </div>
        </div>
    </div>
</div>
<footer>
<div class="container">
    <div class="row">
        <div class="container">
            <hr/>
            <div class="row">
                #a("https://github.com/IntellectualSites/Foton" "Foton on GitHub" "Foton") served using
                #a("https://github.com/IntellectualSites/Kvantum" "Kvantum on GitHub" "Kvantum")
            </div>
        </div>
    </div>
</div>
</footer>
<script>
    $(document).ready(function() {
        $('a[data-toggle="tooltip"]').tooltip();
        $("footer").stickyFooter();
    });
</script>
</body>
</html>
